@import "src/colors.scss";

.container{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

input{
    max-width: 500px;
    padding: 8px 2px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid $cream;
}

input:focus{
    border: none;
    border-bottom: 1px solid $gold;
}

button {
    max-width: 500px;
}